*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.project-container{
  display: flex;
  justify-content: center;
}

.project{
  margin: 1rem;
  width: 40vw;
}

.project:hover{
  opacity: 60%;
  cursor: pointer;
}